.footer {
  background-color: $gray-light;
  padding: 32px 0 12px 0;
  &-info {
  display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
  }
  &-container {
  @include headerFooterContainer;
  }
  &-logo {
    width: 216px;
    height: 59px;
  }
  &-info__general {
    display: contents;
  }
  &-info__text {
    @include footerText14px;
    font-weight: 400;
    max-width: 406px;
  }
  &-email {
    @include footerText14px;
    font-weight: 600;
  }
  &-email__link {
    @include footerText14px;
    font-weight: 400;
    text-decoration: underline;
  }
  &-adress {
    @include footerText14px;
    font-weight: 400;
    max-width: 195px;
  }
  &-label {
    @include footerText14px;
    font-weight: 300;
    line-height: normal;
    display: block;
    max-width: 340px;
  }
  &-line {
    display: block;
    background: $text-gray-dark;
    height: 1px;
    margin-bottom: 10px;
  }
  &-line__mobile {
    display: none;
  }
  &-social {
    display: flex;
    gap: 11px;
  }
  &-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-nav {
    font-size: $font-16;
    font-weight: 600;
    line-height: 24px;
    gap: 36px;
  }
  &-nav__li {
    color: $text-gray-dark;
    font-family: 'Montserrat', sans-serif;
  }
  &-navigation__name{
    @include footerText14px;
    font-weight: 600;
  }
}

#footer-input {
  background-color: $white;
  padding: 16px 0 16px 14.74px;
  width: 397px;
  margin-bottom: 12px;
}

@media screen and (min-width: 651px){
  .footer-navigation__name_mobile  {
    display: none;
  }
}

@media screen and (max-width: 1125px){
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media screen and (max-width: 650px){
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .footer {
    padding-top: 48px;
    padding-bottom: 6px;
  }
  .footer-line , .footer-navigation__name {
    display: none;
  }
  .footer-line__mobile {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.50);
    margin-bottom: 9px;
  }
  .footer-navigation__name_mobile {
 @include footerText14px;
    color: rgba(0, 0, 0, 0.50);
    @include center;
  }
  .footer-line__mobile {
    background: rgba(0, 0, 0, 0.50);
    display: block;
  }
  .footer-container {
    padding: 0 16px;
  }
  .footer-info__text {
    margin-bottom: 24px;
  }
  .footer-social {
    display: none;
  }
  .footer-nav {
    display: none;
  }
  .footer-logo {
    width: 181px;
    margin:  0 auto;
  }
  .footer-body {
    max-width: 358px;
    margin: 0 auto;
  }
  .footer-info__general {
    display: block;
  }
}

@media screen  and (max-width: 776px){
  #footer-input {
    width: 358px;
  }
}
@media screen and (max-width: 389px){
  #footer-input {
    max-width: 305px;
  }
}